.intro {
  font-size: 50px;
  font-style: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(143, 65, 65);
  background-color: rgb(109, 212, 99);
  padding: 10%;
  box-sizing: border-box;
  margin-top: 0;
}

img {
  float: left;
  height: auto;
  width: 50%;
  padding: 3%;
  box-sizing: border-box;
  padding-top: 0;
}
.sidebar {
  float: right;
  background-color: rgb(3, 36, 20);
  color: white;
  font-size: 25px;
  border: solid 10px rgb(139, 36, 131);
  width: 50%;
  padding-left: 0;
  box-sizing: border-box;
  margin-top: 0;
}
.sidebar li {
  padding-bottom: 10%;
}
.content {
  width: 100%;
  display: block;
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  font-weight: bolder;
  background-color: rgba(23, 90, 43, 0.699);
  padding: 5%;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px rgb(66, 9, 66) solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}