.intro {
  font-size: 50px;
  font-style: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(143, 65, 65);
  background-color: rgb(109, 212, 99);
  padding: 10%;
}

img {
  float: left;
  height: auto;
  width: 40%;
  padding-right: 0;

}
.sidebar {
  float: right;
  background-color: rgb(3, 36, 20);
  color: white;
  font-size: 20px;
  border: solid 10px rgb(139, 36, 131);
  padding: 10%;
  width: 40%;
  padding-left: 0;
}
.sidebar li {
  padding-bottom: 10%;
}
.content {
  width: 100%;
  display: block;
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}